@font-face {
    font-family: 'SAOUI';
    src: url('./styles/fonts/sao-ui/SAOUI-Regular.otf') format('truetype');
  }
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
body{
    
    background-image: url(/styles/imgs/SkullReaper.png);
    background-size: cover;
    font-family: 'SAOUI', sans-serif;
    /*height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;*/
}
h1{
    justify-content: center;
    align-items: center;
}